body {
	font-family: 'Roboto', sans-serif;
}

.page-wrap {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 500px;
	margin-top: 20px;
	flex-wrap: wrap;
}



/********************
navigation
********************/

.main-nav {
	border: 2px solid black;
	background-color: pink;
	padding: 10px;
	max-width: 100%;
	display: block;
}

.main-nav a {
	padding: 5px;
	border-right: 1px solid black;
}

.main-nav a:last-child {
	border: none;
}



/********************
sidebar
********************/

.sidebar {
	flex-grow: 1;
	max-width: 25%;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 10px;
	margin-right: 20px;

}

.sidebar label {
	margin-top: 20px;
}

.sidebar label:first-child {
	margin-top: 0;
}

.sidebar fieldset {
	padding: 0;
	border: none;
	margin: 0;
	margin-left: 10px;
	display: flex;

}

.sidebar legend {
	margin-left: none;
}

.sidebar input:last-child {
	margin-top: 20px;
}



/********************
main
********************/

.main {
	flex-grow: 2;
	align-self: right;
	border: 2px solid black;
	overflow: auto;

}