.page-wrap {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
}

/********************
navigation
********************/

.main-nav {
	border: 2px solid black;
	background-color: pink;
	padding: 10px;
	max-width: 100%;
	display: block;
}

.main-nav a {
	padding: 5px;
	border-right: 1px solid black;
}

.main-nav a:last-child {
	border: none;
}

/********************
sidebar
********************/



/********************
main
********************/